@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

body {
  font-family: "League Spartan", sans-serif;
  background-color: #ffefd5;
  font-size: large;
}

.container > section {
  height: 100vh;
}

.container > * {
  padding: 2em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #186f65;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

nav > .navbar-content > a:hover {
  background-color: #12564e;
}

nav > .navbar-content > a {
  font-size: 18px;
  padding: 1em 0.5em;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.logo-image {
  height: 2em;
  padding: 0 1em;
}

.logo-image > img {
  width: 100%;
  height: 100%;
}

#landing-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

button {
  max-width: 10em;
  background: none;
  font-size: 100%;
  font-family: inherit;
  border: 0;
}

.title {
  text-align: center;
  font-size: 50px;
}

.special-btn {
  font-weight: 700;
  padding: 0.5em;
  border: solid 2px black;
  border-image: linear-gradient(to right, #9cb57a, #186F65);
  border-image-slice: 1;
  background: -webkit-linear-gradient(1deg, #9cb57a, #186F65);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  transition: all 0.50s ease;
}

.special-btn:hover {
  -webkit-text-fill-color: #ffefd5;
  text-decoration: none;
  -webkit-background-clip: initial;
  background: #317156;
}

/*
    primary #186F65
    secodary #B5CB99
    tertiary #FCE09B    
    accecory #B2533E
*/
